version: '3'
volumes:
  data:
networks:
  db:
  web:
  queue:
services:
  db:
    image: postgres:9.6
    volumes:
      # data volume
      - data:/var/lib/postgres/data
      # scripts
      - ./scripts:/scripts
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - db
  frontend:
    image: nginx:1.13
    volumes:
      # Site
      - ./web:/usr/share/nginx/html/
      # Configure reverse proxy
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - 80:80
    networks:
      - web
    depends_on:
      - app
  app:
    image: python:3.6
    volumes:
      # App
      - ./app:/app
    working_dir: /app
    command: bash ./app.sh
    networks:
      - db
      - web
      - queue
    depends_on:
      - db
      - queue
  queue:
    image: redis:3.2
    networks:
      - queue
  worker:
    image: python:3.6
    volumes:
      # Worker
      - ./worker:/worker
    working_dir: /worker
    command: bash ./app.sh
    networks:
      - queue
    depends_on:
      - queue