version: '3'
volumes:
  data:
services:
  db:
    image: postgres:9.6
    volumes:
      # data volume
      - data:/var/lib/postgres/data
      # scripts
      - ./scripts:/scripts
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
  frontend:
    image: nginx:1.13
    volumes:
      # Site
      - ./web:/usr/share/nginx/html/
    ports:
      - 80:80
