version: '3'
volumes:
  dados:
services:
  db:
    image: postgres:9.6
    volumes:
      # data volume
      - dados:/var/lib/postgres/data
      # scripts
      - ./scripts:/scripts
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
